{% load static %} {% load vue_tags %}

<!DOCTYPE html>

{% block html %}
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'logo.png' %}" />
    <link rel="stylesheet" href="{% static 'vue/index.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% comment %} {% if DEBUG %}
    <!-- In development, point to Vite's development server for CSS -->
    <link rel="stylesheet" href="{% static 'vue/index.css' %}" />
    {% else %} {% endif %} {% endcomment %} {% comment %}
    <link rel="stylesheet" href="{% static 'vue/index.css' %}" />
    {% endcomment %}
  </head>
  {% endblock %}
  <body class="overflow-hidden m-0 h-full">
    {% block body %}
    <div id="app"></div>

    <script type="application/json" id="drf_csrf">
      {
        "csrfHeaderName": "X-CSRFTOKEN",
        "csrfToken": "{{ csrf_token }}"
      }
    </script>
    <script
      type="module"
      crossorigin
      src="http://localhost:5174/@vite/client"
    ></script>
    <script
      type="module"
      crossorigin
      src="http://localhost:5174/static/vue/src/main.ts"
    ></script>

    {% comment %}
    <script type="module" src="{% static 'vue/main.js' %}"></script>
    {% endcomment %} {% comment %} {% if DEBUG %}
    <!-- In development, point to Vite's development server for JS -->
    
    {% else %}
    <!-- In production, load the compiled JS from static files -->
    <script type="module" src="{% static 'vue/main.js' %}"></script>

    {% endif %} {% endcomment %} {% endblock %}
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js"
    ></script>
  </body>
</html>

{% endblock %}
